disnake==2.4.0
asyncpg==0.25.0
tortoise-orm==0.19.0
pytz==2022.1
disnake-jishaku==2.6.5
websockets==10.3
python-dotenv==0.20.0
rapidfuzz==2.0.9
python-dateutil==2.8.2
flask==2.1.1
orjson==3.6.8
humanize==4.0.0
attrs==21.4.0
tomli==2.0.1
aioredis[hiredis]==2.0.1
chat-exporter==2.1.1