disnake==2.4.0
asyncpg==0.25.0
tortoise-orm==0.19.0
pytz==2022.1
disnake-jishaku==2.6.5
websockets==10.2
python-dotenv==0.19.2
rapidfuzz==2.0.7
python-dateutil==2.8.2
flask==2.0.3
orjson==3.6.7
humanize==4.0.0
attrs==21.4.0
rtoml==0.7.1
aioredis[hiredis]==2.0.1